<a [ngStyle]="{'background-color':'white', 'border-radius':'20px', 'height':'24px'}" [routerLink]="['/intro']">    <mat-icon>chevron_left</mat-icon>
</a>
<a [routerLink]="['/']">
  <h1>My Values Today</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
  <mat-icon>input</mat-icon>
  &nbsp;Submit
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->